#generateChartForm {
    margin-top: 5%;
    text-align: center;
}
#generateChartForm input[type="text"] {
    width: 8%;
    height: 4%;
}
.formSection {
    font-family: 'Alfa Slab One', cursive;
    font-size: 200%;
    text-align: center;
    color: #444;
}
.formLabel{
    font-size: 130%;
}
.layout {
    background-color: #eee;
    border: 1px solid #444;
    font-family: 'Baloo Paaji', cursive;
    color: #444;
    font-size: 150%;
    line-height: 230%;
    box-shadow: 5px 5px 5px #aaa;
}
.layoutBox{
    display: inline-block;
    vertical-align:center;
    width: 25%;
    padding: 0 5%;
}
.layoutGroup {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.formLabel {
    color: #444;
    font-family: 'Helvetica', sans-serif;
    padding: 2%;
}
.genderGroup, .orderGroup{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.genderBox, .orderBox{
    display: inline-block;
    width: 23%;
    padding: 0 5%;
}
.orderBox{
    padding: 0 0%;
    width: 18%
}
.genderBox img, .orderbox img {
    /*width: 77%;*/
    height: 20%;
    max-width: 100%;
    box-shadow: 5px 5px 5px #aaa;
}
.genderSelection {
    font-family: "Helvetica", sans-serif;
    font-size: 100%;
    color: #444;
}
.submitButton:hover {
    background-color: #4dd7fa;
}
.submitButton:active {
    background-color: #006e8c;
}